<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Arvato</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="shoppingcart">Shopping Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="registration">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="productmanagement">Product Management</a>
      </li>
    </ul>
  </div>
</nav>
